node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

.git
.github
.DS_Store

.env
.venv
venv
__pycache__
*.pyc
python_debug.log

logs
uploads

test
technical_docs
Monitor_&_Logging
Vulnerability_Tool
